<h2><center> MSDS 6370: Statistical Sampling </center></h2>
<h3><center> Homework 2 <br> Jack Nelson </center></h3>

### Exercise 1

In [1]:
import pandas as pd
pat_encounters = pd.read_csv('patient_encounters.csv')

In [2]:
# count of encounters by each patNum
pat_visits = pat_encounters[['DOS','patNum']].groupby('patNum').count().rename(columns={'DOS':'count'})

# random sample of 15 encounters with replacement, merged with the count of encouters by patNum
pps_sample = pat_encounters.sample(n=15, replace=True).merge(pat_visits, left_on='patNum', right_index=True)

# calculating weights
pps_sample['weight'] = pat_encounters.DOS.count() / pps_sample['count']

pps_sample

        DOS  patNum  amountPaid  amountAllowed  difference  count      weight
1200  39533    3143       39.36          39.36        0.00     49   50.428571
1162  39493    3090        9.92          39.73      -29.81     23  107.434783
2003  39539   11420        0.00           0.00        0.00     39   63.358974
548   39695     232        0.00           0.00        0.00     51   48.450980
945   39604    3085     2866.50        5962.32    -3095.82     69   35.811594
934   39458    3085        0.00           0.00        0.00     69   35.811594
692   39581     236      144.35         150.00       -5.65     75   32.946667
1097  39657    3088        0.00           0.00        0.00     73   33.849315
343   39625       4        0.81           0.00        0.81    317    7.794953
78    39654       4        0.00           0.00        0.00    317    7.794953
108   39715       4       21.44           0.00       21.44    317    7.794953
818   39517    1479       79.34          79.34        0.00     38   65.026316
472   39767      18       26.95          26.95        0.00     53   46.622642
479   39699      18        0.00           0.00        0.00     53   46.622642
744   39734    1478        0.00           0.00        0.00     61   40.508197

In [3]:
print 'Estimate of total amount paid:', ((pps_sample.amountPaid * pps_sample.weight).sum() / 
                                         pps_sample.weight.sum() * pps_sample.DOS.count())
print 'Estimate of total amount allowed:', ((pps_sample.amountAllowed * pps_sample.weight).sum() / 
                                            pps_sample.weight.sum() * pps_sample.DOS.count())
print 'Estimate of total difference:', ((pps_sample.difference * pps_sample.weight).sum() / 
                                        pps_sample.weight.sum() * pps_sample.DOS.count())

Estimate of total amount paid: 2785.75618129
Estimate of total amount allowed: 5500.87638035
Estimate of total difference: -2715.12019907

In [4]:
(pps_sample.difference * pps_sample.weight).sum() / pps_sample.weight.sum()

-181.00801327101863

### Excerise 2  
<i>No code required. See Word Doc/PDF</i>