<h2><center> MSDS 6370: Statistical Sampling </center></h2>
<h3><center> Homework 3 <br> Jack Nelson </center></h3>

### Exercise 1

In [17]:
import pandas as pd
pat_encounters = pd.read_csv('patient_encounters.csv')

In [20]:
# count of encounters by each patNum
pat_visits = pat_encounters[['DOS','patNum']].groupby('patNum').count().rename(columns={'DOS':'count'})

# random sample of 20 encounters with replacement, merged with the count of encouters by patNum
pps_sample = pat_encounters.sample(n=20, replace=True).merge(pat_visits, left_on='patNum', right_index=True)

# calculating weights
pps_sample['weight'] = pat_encounters.DOS.count() / pps_sample['count']

pps_sample

,DOS,patNum,amountPaid,amountAllowed,difference,count,weight
1178,7/31/08,3091,0.00,0.00,0.00,17,145.352941
335,6/13/08,4,130.20,0.00,130.20,317,7.794953
353,7/25/08,4,0.00,0.00,0.00,317,7.794953
241,8/23/08,4,0.00,0.00,0.00,317,7.794953
306,2/25/08,4,4.20,0.00,4.20,317,7.794953
977,5/4/08,3085,192.94,0.00,192.94,69,35.811594
647,1/25/08,236,35.54,35.54,0.00,75,32.946667
672,4/10/08,236,13.90,13.90,0.00,75,32.946667
2224,3/13/08,11422,144.35,0.00,144.35,238,10.382353
2350,1/21/08,11423,48.81,48.81,0.00,96,25.739583
2380,3/24/08,11423,134.35,79.34,55.01,96,25.739583
836,8/7/08,1481,0.00,0.00,0.00,38,65.026316
780,8/13/08,1478,90.00,0.00,90.00,61,40.508197
1661,9/19/08,10265,0.00,0.00,0.00,40,61.775000
465,9/8/08,18,8.73,8.73,0.00,53,46.622642
1355,5/29/08,3147,550.92,550.92,0.00,75,32.946667
1356,5/29/08,3147,277.98,277.98,0.00,75,32.946667
1853,5/8/08,10597,-44.10,-44.10,0.00,36,68.638889
1087,12/17/07,3088,15.95,15.95,0.00,73,33.849315
1089,10/22/08,3088,17.00,17.00,0.00,73,33.849315

In [21]:
print 'Estimate of total amount paid:', ((pps_sample.amountPaid * pps_sample.weight).sum() / 
                                         pps_sample.weight.sum() * pps_sample.DOS.count())
print 'Estimate of total amount allowed:', ((pps_sample.amountAllowed * pps_sample.weight).sum() / 
                                            pps_sample.weight.sum() * pps_sample.DOS.count())
print 'Estimate of total difference:', ((pps_sample.difference * pps_sample.weight).sum() / 
                                        pps_sample.weight.sum() * pps_sample.DOS.count())

Estimate of total amount paid: 1196.66892061
Estimate of total amount allowed: 812.741352816
Estimate of total difference: 383.92756779

In [22]:
(pps_sample.difference * pps_sample.weight).sum() / pps_sample.weight.sum()

19.196378389504172

### Excerise 2  
<i>No code required. See Word Doc/PDF</i>