<h2><center> MSDS 6370: Statistical Sampling </center></h2>
<h3><center> Homework 3 <br> Jack Nelson </center></h3>

### Exercise 1

In [1]:
import pandas as pd
pat_encounters = pd.read_csv('patient_encounters.csv')

In [2]:
# count of encounters by each patNum
pat_visits = pat_encounters[['DOS','patNum']].groupby('patNum').count().rename(columns={'DOS':'count'})

# random sample of 20 encounters with replacement, merged with the count of encouters by patNum
pps_sample = pat_encounters.sample(n=20, replace=True).merge(pat_visits, left_on='patNum', right_index=True)

# calculating weights
pps_sample['weight'] = pat_encounters.DOS.count() / pps_sample['count']

pps_sample

,DOS,patNum,amountPaid,amountAllowed,difference,count,weight
1777,8/5/08,10595,48.16,48.16,0.00,59,41.881356
2415,3/31/08,230,0.00,0.00,0.00,59,41.881356
2450,3/15/08,230,192.94,192.94,0.00,59,41.881356
614,7/31/08,234,132.60,132.60,0.00,19,130.052632
2114,3/4/08,11422,25.36,25.36,0.00,238,10.382353
2123,5/27/08,11422,25.36,26.37,-1.01,238,10.382353
2244,7/15/08,11422,0.00,160.00,-160.00,238,10.382353
833,7/25/08,1480,85.00,0.00,85.00,4,617.750000
814,12/21/07,1479,79.34,79.34,0.00,38,65.026316
794,1/15/08,1479,39.36,39.36,0.00,38,65.026316
1187,6/24/08,3091,0.00,0.00,0.00,17,145.352941
1111,9/29/08,3088,197.37,197.37,0.00,73,33.849315
1871,6/17/08,10598,26.37,26.37,0.00,34,72.676471
719,8/1/08,1477,0.00,0.00,0.00,26,95.038462
2407,3/12/08,11423,437.54,234.68,202.86,96,25.739583
2364,4/19/08,11423,0.00,0.00,0.00,96,25.739583
1507,7/29/08,10259,0.00,0.00,0.00,31,79.709677
606,10/14/08,233,0.00,0.00,0.00,17,145.352941
1950,9/29/08,10600,85.00,85.00,0.00,23,107.434783
1726,10/9/08,10593,36.96,36.96,0.00,27,91.518519

In [3]:
print 'Estimate of total amount paid:', ((pps_sample.amountPaid * pps_sample.weight).sum() / 
                                         pps_sample.weight.sum() * pps_sample.DOS.count())
print 'Estimate of total amount allowed:', ((pps_sample.amountAllowed * pps_sample.weight).sum() / 
                                            pps_sample.weight.sum() * pps_sample.DOS.count())
print 'Estimate of total difference:', ((pps_sample.difference * pps_sample.weight).sum() / 
                                        pps_sample.weight.sum() * pps_sample.DOS.count())

Estimate of total amount paid: 1297.43275095
Estimate of total amount allowed: 693.697173841
Estimate of total difference: 603.735577108

In [4]:
(pps_sample.difference * pps_sample.weight).sum() / pps_sample.weight.sum()

30.186778855392365

### Excerise 2  
<i>No code required. See Word Doc/PDF</i>

### Exercise 3.1  
*Take a class roster -or any list- and draw a simple random sample and a systematic sample from it*  

**MSDS 6370-402 Course Roster**

In [9]:
student_roster = pd.read_csv('class_roster.csv')
print student_roster

       Name Texas
0     Zoheb     Y
1     Vivek     N
2     Kevin     N
3   Michael     Y
4    Lamine     N
5    Travis     Y
6     Ariel     N
7    Adarsh     N
8      Ryan     N
9   Brandon     N
10  Charles     Y
11     Jack     N
12    Oscar     Y
13   Misael     Y
14    Trace     Y
15   Victor     N

**Simple Random Sample (n=5)**

In [6]:
srs_class_sample = student_roster.sample(n=5, replace=False)
print srs_class_sample

       Name Texas
6     Ariel     N
3   Michael     Y
2     Kevin     N
12    Oscar     Y
13   Misael     Y

**Systematic Sample: Stratified based on Living in Texas (n=5)**

In [7]:
n_Texas = student_roster[student_roster.Texas == "Y"].count() / student_roster.Texas.count() * 5
n_notTexas = student_roster[student_roster.Texas == "N"].count() / student_roster.Texas.count() * 5

print "Texan Stratum n: ", n_Texas.Texas.round()
print "Non-Texan Stratum n: ", n_notTexas.Texas.round()

Texan Stratum n:  2.0
Non-Texan Stratum n:  3.0

In [8]:
strat_class_sample = student_roster[student_roster.Texas == "Y"].sample(n=int(n_Texas.Texas.round()), 
                                                                        replace=False)
strat_class_sample2 = student_roster[student_roster.Texas == "N"].sample(n=int(n_notTexas.Texas.round()), 
                                                                            replace=False)
print pd.DataFrame.append(strat_class_sample, strat_class_sample2)

      Name Texas
14   Trace     Y
0    Zoheb     Y
8     Ryan     N
7   Adarsh     N
6    Ariel     N